{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Open Roles – HubCoin-Tech</title>
  <link rel="stylesheet" href="{% static 'networkbinary/css/style.css' %}" />
  <link rel="icon" type="image/png" href="{% static 'networkbinary/images/favicon.png' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <style>
.linkup{
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
  }

   /* .header {
      background-color: #1a1a2e;
      color: #fff;
      padding: 3px;
      text-align: center;
      border-radius: 10px;
    } */
   .header{
    font-size: 30px;
    color: #1a1a2e;

    }

  </style>
</head>
<body>
  <header class="navbar">
    <div class="navbar-container">
      <!-- <img src="images/logo.png" alt="ConsenSys Logo" class="logo" /> -->
       <!-- <header class="header"> -->
    <h1 class="header">HubCoinTech</h1>
  <!-- </header> -->
      <nav class="nav-links">
        <a href="#products">Products</a>
        <a href="#apply">Apply</a>
        <!-- <a href="#">Company</a>
        <a href="#">Blog</a> -->
      </nav>
    </div>
  </header>

  <section class="hero">
    <h1>Open Roles</h1>
    <p>Help us build a decentralized future. Find your spot in our organization. Crypto Exchanges or Startups Trainings.</p>
  </section>

  <section class="ro">
    <div class="container" >
      <div class="card">
        <span class="category">Corporate &gt; open</span>
        <h2 class="title">Bitcoin Trader instructor (Trainer)</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, EMEA - Remote</strong><br/>
          Full-time or partime  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
  
      <div class="card">
        <span class="category">Corporate &gt; open </span>
        <h2 class="title"> Bitcoin/Crypto Signals Provider (with a focus on teaching)</h2>
        <div class="location">
          <strong> Japan - Remote, Branch </strong><br/>
          Full-time or partime  <br> <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
  
      <div class="card">
        <span class="category">Corporate &gt; Open</span>
        <h2 class="title">Community Leader / Discord Admin (Bitcoin/Crypto Trading Groups)</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, UNITED KINGDOM - Remote</strong><br/>
          Full-time  <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <span class="category">Corporate &gt; Open</span>
        <h2 class="title">Bitcoin/Crypto Course Creator (Freelance)</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, EMEA - Remote</strong><br/>
           Full-time Remote  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
  
      <div class="card" id="apply">
        <span class="category">Corporate &gt; open</span>
        <h2 class="title">Community Manager (with trading expertise)</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, EMEA - Remote</strong><br/>
          Full-time or Partime  <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
  
      <div class="card">
        <span class="category">Corporate &gt; open </span>
        <h2 class="title">Bitcoin/Crypto Analyst instructor ( trainer )</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, UNITED KINGDOM - Remote</strong><br/>
          Full-time or Partime  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
     </div>
        
      
    </div>
    <div class="container">
    
        
      <div class="card">
        <span class="category">Corporate &gt; open </span>
        <h2 class="title"> Bitcoin/Crypto Community Manager / Moderator</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, UNITED KINGDOM - Remote</strong><br/>
          Full-time or Partime  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>

      <div class="card">
        <span class="category">Corporate &gt; open </span>
        <h2 class="title"> Bitcoin/Crypto Customer Support</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, UNITED KINGDOM - Remote</strong><br/>
          Full-time or Partime  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>

      <div class="card">
        <span class="category">Corporate &gt; open </span>
        <h2 class="title"> Bitcoin / Crypto Influencer / Reviewer</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, UNITED KINGDOM - Remote</strong><br/>
          Full-time or Partime  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
    
    </div>
    <div class="container" id="products">
     
      
      <div class="card">
        <span class="category">Corporate &gt; open </span>
        <h2 class="title"> Bitcoin Payment Integration Consultant</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, UNITED KINGDOM - Remote</strong><br/>
          Full-time or Partime  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
      <div class="card">
        <span class="category">Corporate &gt; open </span>
        <h2 class="title">Bitcoin/Crypto Virtual Assistant</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, UNITED KINGDOM - Remote</strong><br/>
          Full-time or Partime  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
      <div class="card">
        <span class="category">Corporate &gt; closed </span>
        <h2 class="title">Bitcoin / Crypto Influencer / Reviewer</h2>
        <div class="location">
          <strong>UNITED STATES - Remote, UNITED KINGDOM - Remote</strong><br/>
          Full-time or Partime  <br> <br>  <br> <button class="category">   <a style="text-decoration: none; color: aliceblue;" href="{% url 'apply' user.id %}" >
  Apply
</a> </button>
        </div>
      </div>
    </div>

  </section>





  <!-- Modal -->

  <script src="{% static 'networkbinary/js/script.js' %}"></script>


</body>
</html>

